<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ccaf.dao.CompeninfoDao">

	<select id="get" resultType="com.ccaf.domain.CompeninfoDO">
		select `txn_cde`,`lst_upd_ttp`,`msg_key`,`sys_tme`,`txn_ttp`,`msg_dta_txt` from tb_compeninfo where txn_cde = #{value}
	</select>

	<select id="list" resultType="com.ccaf.domain.CompeninfoDO">
		select `txn_cde`,`lst_upd_ttp`,`msg_key`,`sys_tme`,`txn_ttp`,`msg_dta_txt` from tb_compeninfo
        <where>  
		  		  <if test="txnCde != null and txnCde != ''"> and txn_cde = #{txnCde} </if>
		  		  <if test="lstUpdTtp != null and lstUpdTtp != ''"> and lst_upd_ttp = #{lstUpdTtp} </if>
		  		  <if test="msgKey != null and msgKey != ''"> and msg_key = #{msgKey} </if>
		  		  <if test="sysTme != null and sysTme != ''"> and sys_tme = #{sysTme} </if>
		  		  <if test="txnTtp != null and txnTtp != ''"> and txn_ttp = #{txnTtp} </if>
		  		  <if test="msgDtaTxt != null and msgDtaTxt != ''"> and msg_dta_txt = #{msgDtaTxt} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by txn_cde desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from tb_compeninfo
		 <where>  
		  		  <if test="txnCde != null and txnCde != ''"> and txn_cde = #{txnCde} </if>
		  		  <if test="lstUpdTtp != null and lstUpdTtp != ''"> and lst_upd_ttp = #{lstUpdTtp} </if>
		  		  <if test="msgKey != null and msgKey != ''"> and msg_key = #{msgKey} </if>
		  		  <if test="sysTme != null and sysTme != ''"> and sys_tme = #{sysTme} </if>
		  		  <if test="txnTtp != null and txnTtp != ''"> and txn_ttp = #{txnTtp} </if>
		  		  <if test="msgDtaTxt != null and msgDtaTxt != ''"> and msg_dta_txt = #{msgDtaTxt} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.ccaf.domain.CompeninfoDO">
		insert into tb_compeninfo
		(
			`txn_cde`, 
			`lst_upd_ttp`, 
			`msg_key`, 
			`sys_tme`, 
			`txn_ttp`, 
			`msg_dta_txt`
		)
		values
		(
			#{txnCde}, 
			#{lstUpdTtp}, 
			#{msgKey}, 
			#{sysTme}, 
			#{txnTtp}, 
			#{msgDtaTxt}
		)
	</insert>
	 
	<update id="update" parameterType="com.ccaf.domain.CompeninfoDO">
		update tb_compeninfo 
		<set>
			<if test="lstUpdTtp != null">`lst_upd_ttp` = #{lstUpdTtp}, </if>
			<if test="msgKey != null">`msg_key` = #{msgKey}, </if>
			<if test="sysTme != null">`sys_tme` = #{sysTme}, </if>
			<if test="txnTtp != null">`txn_ttp` = #{txnTtp}, </if>
			<if test="msgDtaTxt != null">`msg_dta_txt` = #{msgDtaTxt}</if>
		</set>
		where txn_cde = #{txnCde}
	</update>
	
	<delete id="remove">
		delete from tb_compeninfo where txn_cde = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from tb_compeninfo where txn_cde in 
		<foreach item="txnCde" collection="array" open="(" separator="," close=")">
			#{txnCde}
		</foreach>
	</delete>

</mapper>