<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ccaf.dao.ParmDao">

	<select id="get" resultType="com.ccaf.domain.ParmDO">
		select `prm_typ_cde`,`lst_upd_ttp`,`prm_cde`,`prm_des`,`atv_ind`,`stw`,`lst_upd_usr` from tb_parm where prm_typ_cde = #{value}
	</select>

	<select id="list" resultType="com.ccaf.domain.ParmDO">
		select `prm_typ_cde`,`lst_upd_ttp`,`prm_cde`,`prm_des`,`atv_ind`,`stw`,`lst_upd_usr` from tb_parm
        <where>  
		  		  <if test="prmTypCde != null and prmTypCde != ''"> and prm_typ_cde = #{prmTypCde} </if>
		  		  <if test="lstUpdTtp != null and lstUpdTtp != ''"> and lst_upd_ttp = #{lstUpdTtp} </if>
		  		  <if test="prmCde != null and prmCde != ''"> and prm_cde = #{prmCde} </if>
		  		  <if test="prmDes != null and prmDes != ''"> and prm_des = #{prmDes} </if>
		  		  <if test="atvInd != null and atvInd != ''"> and atv_ind = #{atvInd} </if>
		  		  <if test="stw != null and stw != ''"> and stw = #{stw} </if>
		  		  <if test="lstUpdUsr != null and lstUpdUsr != ''"> and lst_upd_usr = #{lstUpdUsr} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by prm_typ_cde desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from tb_parm
		 <where>  
		  		  <if test="prmTypCde != null and prmTypCde != ''"> and prm_typ_cde = #{prmTypCde} </if>
		  		  <if test="lstUpdTtp != null and lstUpdTtp != ''"> and lst_upd_ttp = #{lstUpdTtp} </if>
		  		  <if test="prmCde != null and prmCde != ''"> and prm_cde = #{prmCde} </if>
		  		  <if test="prmDes != null and prmDes != ''"> and prm_des = #{prmDes} </if>
		  		  <if test="atvInd != null and atvInd != ''"> and atv_ind = #{atvInd} </if>
		  		  <if test="stw != null and stw != ''"> and stw = #{stw} </if>
		  		  <if test="lstUpdUsr != null and lstUpdUsr != ''"> and lst_upd_usr = #{lstUpdUsr} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.ccaf.domain.ParmDO">
		insert into tb_parm
		(
			`prm_typ_cde`, 
			`lst_upd_ttp`, 
			`prm_cde`, 
			`prm_des`, 
			`atv_ind`, 
			`stw`, 
			`lst_upd_usr`
		)
		values
		(
			#{prmTypCde}, 
			#{lstUpdTtp}, 
			#{prmCde}, 
			#{prmDes}, 
			#{atvInd}, 
			#{stw}, 
			#{lstUpdUsr}
		)
	</insert>
	 
	<update id="update" parameterType="com.ccaf.domain.ParmDO">
		update tb_parm 
		<set>
			<if test="lstUpdTtp != null">`lst_upd_ttp` = #{lstUpdTtp}, </if>
			<if test="prmCde != null">`prm_cde` = #{prmCde}, </if>
			<if test="prmDes != null">`prm_des` = #{prmDes}, </if>
			<if test="atvInd != null">`atv_ind` = #{atvInd}, </if>
			<if test="stw != null">`stw` = #{stw}, </if>
			<if test="lstUpdUsr != null">`lst_upd_usr` = #{lstUpdUsr}</if>
		</set>
		where prm_typ_cde = #{prmTypCde}
	</update>
	
	<delete id="remove">
		delete from tb_parm where prm_typ_cde = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from tb_parm where prm_typ_cde in 
		<foreach item="prmTypCde" collection="array" open="(" separator="," close=")">
			#{prmTypCde}
		</foreach>
	</delete>

</mapper>