<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ccaf.dao.SltactbkDao">

	<select id="get" resultType="com.ccaf.domain.SltactbkDO">
		select `act_idn_sky`,`lst_upd_ttp`,`act_sts_cde`,`rmb_slt_cdt_lmt_amt`,`rmb_slt_used_amt`,`usd_slt_cdt_lmt_amt`,`usd_slt_used_amt`,`ttps`,`lst_upd_nbr`,`olt_ind` from tb_sltactbk where act_idn_sky = #{value}
	</select>

	<select id="list" resultType="com.ccaf.domain.SltactbkDO">
		select `act_idn_sky`,`lst_upd_ttp`,`act_sts_cde`,`rmb_slt_cdt_lmt_amt`,`rmb_slt_used_amt`,`usd_slt_cdt_lmt_amt`,`usd_slt_used_amt`,`ttps`,`lst_upd_nbr`,`olt_ind` from tb_sltactbk
        <where>  
		  		  <if test="actIdnSky != null and actIdnSky != ''"> and act_idn_sky = #{actIdnSky} </if>
		  		  <if test="lstUpdTtp != null and lstUpdTtp != ''"> and lst_upd_ttp = #{lstUpdTtp} </if>
		  		  <if test="actStsCde != null and actStsCde != ''"> and act_sts_cde = #{actStsCde} </if>
		  		  <if test="rmbSltCdtLmtAmt != null and rmbSltCdtLmtAmt != ''"> and rmb_slt_cdt_lmt_amt = #{rmbSltCdtLmtAmt} </if>
		  		  <if test="rmbSltUsedAmt != null and rmbSltUsedAmt != ''"> and rmb_slt_used_amt = #{rmbSltUsedAmt} </if>
		  		  <if test="usdSltCdtLmtAmt != null and usdSltCdtLmtAmt != ''"> and usd_slt_cdt_lmt_amt = #{usdSltCdtLmtAmt} </if>
		  		  <if test="usdSltUsedAmt != null and usdSltUsedAmt != ''"> and usd_slt_used_amt = #{usdSltUsedAmt} </if>
		  		  <if test="ttps != null and ttps != ''"> and ttps = #{ttps} </if>
		  		  <if test="lstUpdNbr != null and lstUpdNbr != ''"> and lst_upd_nbr = #{lstUpdNbr} </if>
		  		  <if test="oltInd != null and oltInd != ''"> and olt_ind = #{oltInd} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by act_idn_sky desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from tb_sltactbk
		 <where>  
		  		  <if test="actIdnSky != null and actIdnSky != ''"> and act_idn_sky = #{actIdnSky} </if>
		  		  <if test="lstUpdTtp != null and lstUpdTtp != ''"> and lst_upd_ttp = #{lstUpdTtp} </if>
		  		  <if test="actStsCde != null and actStsCde != ''"> and act_sts_cde = #{actStsCde} </if>
		  		  <if test="rmbSltCdtLmtAmt != null and rmbSltCdtLmtAmt != ''"> and rmb_slt_cdt_lmt_amt = #{rmbSltCdtLmtAmt} </if>
		  		  <if test="rmbSltUsedAmt != null and rmbSltUsedAmt != ''"> and rmb_slt_used_amt = #{rmbSltUsedAmt} </if>
		  		  <if test="usdSltCdtLmtAmt != null and usdSltCdtLmtAmt != ''"> and usd_slt_cdt_lmt_amt = #{usdSltCdtLmtAmt} </if>
		  		  <if test="usdSltUsedAmt != null and usdSltUsedAmt != ''"> and usd_slt_used_amt = #{usdSltUsedAmt} </if>
		  		  <if test="ttps != null and ttps != ''"> and ttps = #{ttps} </if>
		  		  <if test="lstUpdNbr != null and lstUpdNbr != ''"> and lst_upd_nbr = #{lstUpdNbr} </if>
		  		  <if test="oltInd != null and oltInd != ''"> and olt_ind = #{oltInd} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.ccaf.domain.SltactbkDO">
		insert into tb_sltactbk
		(
			`act_idn_sky`, 
			`lst_upd_ttp`, 
			`act_sts_cde`, 
			`rmb_slt_cdt_lmt_amt`, 
			`rmb_slt_used_amt`, 
			`usd_slt_cdt_lmt_amt`, 
			`usd_slt_used_amt`, 
			`ttps`, 
			`lst_upd_nbr`, 
			`olt_ind`
		)
		values
		(
			#{actIdnSky}, 
			#{lstUpdTtp}, 
			#{actStsCde}, 
			#{rmbSltCdtLmtAmt}, 
			#{rmbSltUsedAmt}, 
			#{usdSltCdtLmtAmt}, 
			#{usdSltUsedAmt}, 
			#{ttps}, 
			#{lstUpdNbr}, 
			#{oltInd}
		)
	</insert>
	 
	<update id="update" parameterType="com.ccaf.domain.SltactbkDO">
		update tb_sltactbk 
		<set>
			<if test="lstUpdTtp != null">`lst_upd_ttp` = #{lstUpdTtp}, </if>
			<if test="actStsCde != null">`act_sts_cde` = #{actStsCde}, </if>
			<if test="rmbSltCdtLmtAmt != null">`rmb_slt_cdt_lmt_amt` = #{rmbSltCdtLmtAmt}, </if>
			<if test="rmbSltUsedAmt != null">`rmb_slt_used_amt` = #{rmbSltUsedAmt}, </if>
			<if test="usdSltCdtLmtAmt != null">`usd_slt_cdt_lmt_amt` = #{usdSltCdtLmtAmt}, </if>
			<if test="usdSltUsedAmt != null">`usd_slt_used_amt` = #{usdSltUsedAmt}, </if>
			<if test="ttps != null">`ttps` = #{ttps}, </if>
			<if test="lstUpdNbr != null">`lst_upd_nbr` = #{lstUpdNbr}, </if>
			<if test="oltInd != null">`olt_ind` = #{oltInd}</if>
		</set>
		where act_idn_sky = #{actIdnSky}
	</update>
	
	<delete id="remove">
		delete from tb_sltactbk where act_idn_sky = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from tb_sltactbk where act_idn_sky in 
		<foreach item="actIdnSky" collection="array" open="(" separator="," close=")">
			#{actIdnSky}
		</foreach>
	</delete>

</mapper>