<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<form class="form-horizontal m-t" id="signupForm">
						<input id="lstUpdTtp" name="lstUpdTtp" th:value="${card.lstUpdTtp}"  type="hidden">
							<div class="form-group">	
								<label class="col-sm-3 control-label">pan_txt：</label>
								<div class="col-sm-8">
									<input id="panTxt" name="panTxt" th:value="${card.panTxt}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">app_ise_nbr：</label>
								<div class="col-sm-8">
									<input id="appIseNbr" name="appIseNbr" th:value="${card.appIseNbr}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">pdt_idn_cde：</label>
								<div class="col-sm-8">
									<input id="pdtIdnCde" name="pdtIdnCde" th:value="${card.pdtIdnCde}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">pla_sts_cde：</label>
								<div class="col-sm-8">
									<input id="plaStsCde" name="plaStsCde" th:value="${card.plaStsCde}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">end_ttp：</label>
								<!--<div class="col-sm-8">-->
									<!--<input id="endTtp" name="endTtp" th:value="${card.endTtp}" class="form-control" type="text">-->
								<!--</div>-->
								<div class="col-sm-8">
									<div class="input-append date" name="datetimepicker"  data-date-format="yyyy-mm-dd hh:ii">
										<input class="span2" size="16" autocomplete="off"  type="text" th:value="${#dates.format(card.endTtp,'yyyy-MM-dd hh:mm')}" >
										<span class="add-on"><i class="icon-th"></i></span>
									</div>
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">cvv：</label>
								<div class="col-sm-8">
									<input id="cvv" name="cvv" th:value="${card.cvv}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">cvv2：</label>
								<div class="col-sm-8">
									<input id="cvv2" name="cvv2" th:value="${card.cvv2}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">pin_oft：</label>
								<div class="col-sm-8">
									<input id="pinOft" name="pinOft" th:value="${card.pinOft}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">app_typ：</label>
								<div class="col-sm-8">
									<input id="appTyp" name="appTyp" th:value="${card.appTyp}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">pin_ver_pos_txn：</label>
								<div class="col-sm-8">
									<input id="pinVerPosTxn" name="pinVerPosTxn" th:value="${card.pinVerPosTxn}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">cv2_rts_nbr：</label>
								<div class="col-sm-8">
									<input id="cv2RtsNbr" name="cv2RtsNbr" th:value="${card.cv2RtsNbr}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">pin_rts_nbr：</label>
								<div class="col-sm-8">
									<input id="pinRtsNbr" name="pinRtsNbr" th:value="${card.pinRtsNbr}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">rts_nbr_dte：</label>
								<div class="col-sm-8">
									<input id="rtsNbrDte" name="rtsNbrDte" th:value="${card.rtsNbrDte}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">end_dte_rts_nbr：</label>
								<div class="col-sm-8">
									<input id="endDteRtsNbr" name="endDteRtsNbr" th:value="${card.endDteRtsNbr}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">csr_rts_nbr：</label>
								<div class="col-sm-8">
									<input id="csrRtsNbr" name="csrRtsNbr" th:value="${card.csrRtsNbr}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">slt_act_idn_sky：</label>
								<div class="col-sm-8">
									<input id="sltActIdnSky" name="sltActIdnSky" th:value="${card.sltActIdnSky}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">top_act_idn_sky：</label>
								<div class="col-sm-8">
									<input id="topActIdnSky" name="topActIdnSky" th:value="${card.topActIdnSky}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">csr_idn_sky：</label>
								<div class="col-sm-8">
									<input id="csrIdnSky" name="csrIdnSky" th:value="${card.csrIdnSky}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">p_dly_vty_nbr_upl：</label>
								<div class="col-sm-8">
									<input id="pDlyVtyNbrUpl" name="pDlyVtyNbrUpl" th:value="${card.pDlyVtyNbrUpl}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">p_dly_vty_amt_upl：</label>
								<div class="col-sm-8">
									<input id="pDlyVtyAmtUpl" name="pDlyVtyAmtUpl" th:value="${card.pDlyVtyAmtUpl}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">p_dly_vty_tot_nbr：</label>
								<div class="col-sm-8">
									<input id="pDlyVtyTotNbr" name="pDlyVtyTotNbr" th:value="${card.pDlyVtyTotNbr}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">p_dly_vty_tot_amt：</label>
								<div class="col-sm-8">
									<input id="pDlyVtyTotAmt" name="pDlyVtyTotAmt" th:value="${card.pDlyVtyTotAmt}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">p_vty_upd_ttp：</label>
								<div class="col-sm-8">
									<input id="pVtyUpdTtp" name="pVtyUpdTtp" th:value="${card.pVtyUpdTtp}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">f_dly_vty_tot_nbr：</label>
								<div class="col-sm-8">
									<input id="fDlyVtyTotNbr" name="fDlyVtyTotNbr" th:value="${card.fDlyVtyTotNbr}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">f_dly_vty_tot_amt：</label>
								<div class="col-sm-8">
									<input id="fDlyVtyTotAmt" name="fDlyVtyTotAmt" th:value="${card.fDlyVtyTotAmt}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">f_vty_upd_ttp：</label>
								<div class="col-sm-8">
									<input id="fVtyUpdTtp" name="fVtyUpdTtp" th:value="${card.fVtyUpdTtp}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">ttps：</label>
								<div class="col-sm-8">
									<input id="ttps" name="ttps" th:value="${card.ttps}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">lst_upd_nbr：</label>
								<div class="col-sm-8">
									<input id="lstUpdNbr" name="lstUpdNbr" th:value="${card.lstUpdNbr}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">app_idn_sky：</label>
								<div class="col-sm-8">
									<input id="appIdnSky" name="appIdnSky" th:value="${card.appIdnSky}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">man_act_ind：</label>
								<div class="col-sm-8">
									<input id="manActInd" name="manActInd" th:value="${card.manActInd}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">man_csr_idn_sky：</label>
								<div class="col-sm-8">
									<input id="manCsrIdnSky" name="manCsrIdnSky" th:value="${card.manCsrIdnSky}" class="form-control" type="text">
								</div>
							</div>
																					<div class="form-group">
								<div class="col-sm-8 col-sm-offset-3">
									<button type="submit" class="btn btn-primary">提交</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
	</div>
	</div>
	<div th:include="include::footer"></div>
	<script type="text/javascript" src="/js/appjs/card/edit.js">
	</script>
	<script>
        $(".date").datetimepicker({
            format: 'yyyy-mm-dd hh:ii',      /*此属性是显示顺序，还有显示顺序是mm-dd-yyyy*/
            language: 'zh-CN',
            weekStart: 1,
            todayBtn: 1,//显示‘今日’按钮
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            minView: 0,  //Number, String. 默认值：0, 'hour'，日期时间选择器所能够提供的最精确的时间选择视图。
            clearBtn:true,//清除按钮
            forceParse: 0
        });
	</script>
</body>
</html>
