<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<form class="form-horizontal m-t" id="signupForm">
						<input id="itn_idn_cde" name="itn_idn_cde" th:value="${tgen025.itn_idn_cde}"  type="hidden">
							<div class="form-group">	
								<label class="col-sm-3 control-label">lst_upd_ttp：</label>
								<div class="col-sm-8">
									<input id="lstUpdTtp" name="lstUpdTtp" th:value="${tgen025.lstUpdTtp}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">txn_src_cde：</label>
								<div class="col-sm-8">
									<input id="txnSrcCde" name="txnSrcCde" th:value="${tgen025.txnSrcCde}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">cry_cde：</label>
								<div class="col-sm-8">
									<input id="cryCde" name="cryCde" th:value="${tgen025.cryCde}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">cvt_rte_pct：</label>
								<div class="col-sm-8">
									<input id="cvtRtePct" name="cvtRtePct" th:value="${tgen025.cvtRtePct}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">lst_upd_usr：</label>
								<div class="col-sm-8">
									<input id="lstUpdUsr" name="lstUpdUsr" th:value="${tgen025.lstUpdUsr}" class="form-control" type="text">
								</div>
							</div>
																					<div class="form-group">
								<div class="col-sm-8 col-sm-offset-3">
									<button type="submit" class="btn btn-primary">提交</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
	</div>
	</div>
	<div th:include="include::footer"></div>
	<script type="text/javascript" src="/js/appjs/ccaf/tgen025/edit.js">
	</script>
</body>
</html>
