<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<form class="form-horizontal m-t" id="signupForm">
							<div class="form-group">	
								<label class="col-sm-3 control-label">bch_nme_txt：</label>
								<div class="col-sm-8">
									<input id="bchNmeTxt" name="bchNmeTxt" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">bch_mgr_nme_txt：</label>
								<div class="col-sm-8">
									<input id="bchMgrNmeTxt" name="bchMgrNmeTxt" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">bch_eml_adr_txt：</label>
								<div class="col-sm-8">
									<input id="bchEmlAdrTxt" name="bchEmlAdrTxt" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">bch_adr_ln1_txt：</label>
								<div class="col-sm-8">
									<input id="bchAdrLn1Txt" name="bchAdrLn1Txt" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">bch_adr_ln3_txt：</label>
								<div class="col-sm-8">
									<input id="bchAdrLn3Txt" name="bchAdrLn3Txt" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">bch_psl_cde_txt：</label>
								<div class="col-sm-8">
									<input id="bchPslCdeTxt" name="bchPslCdeTxt" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">bch_cty_txt：</label>
								<div class="col-sm-8">
									<input id="bchCtyTxt" name="bchCtyTxt" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">bch_phe_nbr_1_txt：</label>
								<div class="col-sm-8">
									<input id="bchPheNbr1Txt" name="bchPheNbr1Txt" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">bch_phe_nbr_2_txt：</label>
								<div class="col-sm-8">
									<input id="bchPheNbr2Txt" name="bchPheNbr2Txt" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">bch_ope_1_txt：</label>
								<div class="col-sm-8">
									<input id="bchOpe1Txt" name="bchOpe1Txt" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">bch_ope_2_txt：</label>
								<div class="col-sm-8">
									<input id="bchOpe2Txt" name="bchOpe2Txt" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">bch_ope_3_txt：</label>
								<div class="col-sm-8">
									<input id="bchOpe3Txt" name="bchOpe3Txt" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">bch_ope_4_txt：</label>
								<div class="col-sm-8">
									<input id="bchOpe4Txt" name="bchOpe4Txt" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">bch_atv_ind：</label>
								<div class="col-sm-8">
									<input id="bchAtvInd" name="bchAtvInd" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">bch_rgn_cde：</label>
								<div class="col-sm-8">
									<input id="bchRgnCde" name="bchRgnCde" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">lst_upd_ttp：</label>
								<div class="col-sm-8">
									<input id="lstUpdTtp" name="lstUpdTtp" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">lst_upd_uid：</label>
								<div class="col-sm-8">
									<input id="lstUpdUid" name="lstUpdUid" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">lst_upd_nbr：</label>
								<div class="col-sm-8">
									<input id="lstUpdNbr" name="lstUpdNbr" class="form-control" type="text">
								</div>
							</div>
																					<div class="form-group">
								<div class="col-sm-8 col-sm-offset-3">
									<button type="submit" class="btn btn-primary">提交</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
	</div>
	</div>
	<div th:include="include::footer"></div>
	<script type="text/javascript" src="/js/appjs/ccaf/tgen401/add.js">
	</script>
</body>
</html>
