<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<form class="form-horizontal m-t" id="signupForm">
							<div class="form-group">	
								<label class="col-sm-3 control-label">txn_cde：</label>
								<div class="col-sm-8">
									<input id="txnCde" name="txnCde" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">txn_typ_cde：</label>
								<div class="col-sm-8">
									<input id="txnTypCde" name="txnTypCde" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">ext_txn_cde：</label>
								<div class="col-sm-8">
									<input id="extTxnCde" name="extTxnCde" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">dbt_ext_txn_cde：</label>
								<div class="col-sm-8">
									<input id="dbtExtTxnCde" name="dbtExtTxnCde" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">dbt_cdt_cde：</label>
								<div class="col-sm-8">
									<input id="dbtCdtCde" name="dbtCdtCde" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">pre_pmt_ind：</label>
								<div class="col-sm-8">
									<input id="prePmtInd" name="prePmtInd" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">mch_tnc_pct：</label>
								<div class="col-sm-8">
									<input id="mchTncPct" name="mchTncPct" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">png_day_nbr：</label>
								<div class="col-sm-8">
									<input id="pngDayNbr" name="pngDayNbr" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">mxmday_pst_txn_nbr：</label>
								<div class="col-sm-8">
									<input id="mxmdayPstTxnNbr" name="mxmdayPstTxnNbr" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">lty_ind：</label>
								<div class="col-sm-8">
									<input id="ltyInd" name="ltyInd" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">rvs_txn_ind：</label>
								<div class="col-sm-8">
									<input id="rvsTxnInd" name="rvsTxnInd" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">txn_smt_otn_cde：</label>
								<div class="col-sm-8">
									<input id="txnSmtOtnCde" name="txnSmtOtnCde" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">csr_gtd_ind：</label>
								<div class="col-sm-8">
									<input id="csrGtdInd" name="csrGtdInd" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">mxm_ath_hld_nbr：</label>
								<div class="col-sm-8">
									<input id="mxmAthHldNbr" name="mxmAthHldNbr" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">scs_css_idn_cde：</label>
								<div class="col-sm-8">
									<input id="scsCssIdnCde" name="scsCssIdnCde" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">aff_rpt_css_cde：</label>
								<div class="col-sm-8">
									<input id="affRptCssCde" name="affRptCssCde" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">bkd_int_ind：</label>
								<div class="col-sm-8">
									<input id="bkdIntInd" name="bkdIntInd" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">dpd_ald_cde：</label>
								<div class="col-sm-8">
									<input id="dpdAldCde" name="dpdAldCde" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">lst_upd_dte：</label>
								<div class="col-sm-8">
									<input id="lstUpdDte" name="lstUpdDte" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">lst_upd_tme：</label>
								<div class="col-sm-8">
									<input id="lstUpdTme" name="lstUpdTme" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">lst_upd_uid：</label>
								<div class="col-sm-8">
									<input id="lstUpdUid" name="lstUpdUid" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">lst_upd_nbr：</label>
								<div class="col-sm-8">
									<input id="lstUpdNbr" name="lstUpdNbr" class="form-control" type="text">
								</div>
							</div>
																					<div class="form-group">
								<div class="col-sm-8 col-sm-offset-3">
									<button type="submit" class="btn btn-primary">提交</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
	</div>
	</div>
	<div th:include="include::footer"></div>
	<script type="text/javascript" src="/js/appjs/ccaf/tgen056/add.js">
	</script>
</body>
</html>
